$yellow: #f7b32a;
$blue: #0E2859;
$lightblue: #2c5bb1;
$black: #000000;


@mixin margenes($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron{
    background-color: $yellow;
    color: $black;
    @include margenes(50px, 0px, 0px, 0px);
}
/*
.btn {
    
    background-color: #0E2859;
}
*/

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: $blue;
}

.btn-link{
    width: 100%;
    border-radius: 0px;
    
    color: $yellow;
    background-color: $lightblue;
    
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    @include margenes(10px, 0px, 0px, 0px);
}

.tab-content {
    @include padding(10px, 0px, 0px, 0px);
}

footer {
    @include padding(10px, 10px, 0px, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px, 0px, 0px);
}

.footer-address-icon {
    padding-right: 10px;
}