.jumbotron{background-color:#f7b32a;color:#000;margin-top:50px;margin-right:0px;margin-bottom:0px;margin-left:0px}.btn-reserva{width:100%;border-radius:0px;background-color:#0E2859}.btn-link{width:100%;border-radius:0px;color:#f7b32a;background-color:#2c5bb1}.card-hotel{flex:1 200px;margin-top:10px;margin-right:0px;margin-bottom:0px;margin-left:0px}.tab-content{padding-top:10px;padding-right:0px;padding-bottom:0px;padding-left:0px}footer{padding-top:10px;padding-right:10px;padding-bottom:0px;padding-left:10px;background-color:#f7b32a;margin-top:10px;margin-right:0px;margin-bottom:0px;margin-left:0px}.footer-address-icon{padding-right:10px}
/*# sourceMappingURL=styles.css.map */
